
body {
    background-size: 400% 1300%;
    background: linear-gradient(-45deg, #43cce4, #da244b, #03749c, #23d549);
	animation: gradient 10s ease infinite;
}

/* profile dropdown start */
.action {
    position:absolute;
    top: 0.5px;
    right: 20px;
}

.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.action .menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 5px 15px;
    background: rgba(135, 206, 250, 0.226);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
}

.action .menu.active {
    visibility: hidden;
    opacity: 1;
    top: 80px;
}



.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: rgba(27, 167, 199, 0.637);
    transform: rotate(45deg);
}

.action .menu h3 {
width: 100%;
text-align: center;
font-size: 18px;
padding: 20px 0;
font-weight: 500;
font-size: 18px;
color: rgb(0, 2, 2);
line-height: 1.2em;
/* visibility: hidden; */
/* opacity: 0; */
}

.action .menu h3 span {
    font-size: 14px;
    color: #234a4e;
    font-weight: 400;
}

.action .menu ul li {
    list-style: none;
    padding: 6px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
}

.action .menu ul li img {
    max-width: 30px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 2;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 1);
    font-weight: 500;
    transition: 0.5s;
}

.logout:hover  { 
    color: red !important;
}

/* profile dropdown end */

    a {
    color:whitesmoke !important;
}

a:hover {
    color:#0017e6 !important;
}


/* Logos Start */
.logos img {
    width: 60px;
    animation: logos 25s linear infinite;
    
}

.logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    position: absolute;
    bottom: -300px;
    z-index: -1;
}

@keyframes logos {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-110vh);
        opacity: 0;
}
}



.logos img:nth-child(1){
    animation-delay: 2s;
}
.logos img:nth-child(2){
    animation-delay: 5s;
}
.logos img:nth-child(3){
    animation-delay: 1s;
}
.logos img:nth-child(4){
    animation-delay: 4s;
}
.logos img:nth-child(5){
    animation-delay: 7s;
}
.logos img:nth-child(6){
    animation-delay: 1s;
}
.logos img:nth-child(7){
    animation-delay: 3s;
}

/* Logos End */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


h1 {
    font-family: "barcade";
    font-size: 120px;
    color: white;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

h2 {
    color: whitesmoke !important;
    font-weight: 350 !important;
}

p {
    color: whitesmoke;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0017e6, 0 0 40px #0017e6, 0 0 50px #0017e6, 0 0 60px #0017e6, 0 0 70px #0017e6;
    }
    to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5b9435, 0 0 40px #0017e6, 0 0 50px #0017e6, 0 0 60px #7be600, 0 0 70px #0017e6;
    }
}

/* 0 0 20px #fff, 0 0 30px #3e51fd, 0 0 40px #3e51fd, 0 0 50px #3e51fd, 0 0 60px #3e51fd, 0 0 70px #3e51fd, 0 0 80px #3e51fd; */



.carousel-item {
    height: 100%;
    width: 100%;
}

.navbar-custom {
    background-color:#ffffff49;
}

.navbar-brand {
    font-family: "barcade";
}

.nav-item {
    color: aliceblue;
}

#navbar-search-btn {
    background-color: whitesmoke;
    color: #000;
}

.dropdown-item {
    background-color: cadetblue;
}

.dc-logo {
    height: 40px;
    width: 50px;    
}

#main-search {
    height: 65px;
}

#input-search {
    background-color:lightblue;
}

.shows-results{
    margin-top: 60px;
    justify-content: space-between;
    height: 500px;
}

#artist-info{
    height: 500px;
}

h4 {
    font-size: 45px !important;
    font-weight: 350 !important;
    color: whitesmoke;
    /* text-shadow: -1px -1px 0 #1c0f13, 1px -1px 0 #1c0f13, -1px 1px 0 #1c0f13, 1px 1px 0 #1c0f13; */
}

.form-control {
    background: transparent !important;
    border-color: whitesmoke !important;
}

::placeholder {
    color: whitesmoke !important;
}

input {
    color: whitesmoke !important;
}

#artist-info{
    background-color: rgba(255, 249, 249, 0.137);
}

.upcoming-shows-list{
    display: flex;
    justify-content: space-between;
    border: none;
}

.upcoming-show-item{
    width: 75%;
}

@font-face {
	font-family: "barcade";
	src: url(./barcade.ttf);
}

#img-insert #artimage{
    border-radius: 25px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.11);
}

.card-body{
    background-color: #ffffff3f;
}

#grayColor {
    color: rgb(128,128,128,0.3);
    font-size: 14px;
}